.algorithms-container {
  min-height: 100vh;
}
.algorithms-algorithms {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.algorithms-image1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  position: absolute;
  border-color: transparent;
}
.algorithms-frame1 {
  top: 42px;
  left: 52px;
  width: 655px;
  height: 151px;
  display: flex;
  padding: 10px 10px 10px 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.algorithms-frame2 {
  top: 166px;
  left: 626px;
  width: 360px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.algorithms-text {
  top: 153px;
  left: 569px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Calisto MT;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.algorithms-text01 {
  top: 73px;
  left: 1219px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Calisto MT;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.algorithms-text03 {
  top: 44px;
  left: 35px;
  color: rgba(0, 0, 0, 1);
  width: 720px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Calisto MT;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.algorithms-frame6 {
  top: 246px;
  left: 81px;
  width: 549px;
  height: 653px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  background-color: rgba(158, 149, 149, 0.84);
}
.algorithms-text08 {
  top: 54px;
  left: 48px;
  color: rgba(0, 0, 0, 1);
  width: 454px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Calisto MT;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.algorithms-frame7 {
  top: 246px;
  left: 789px;
  width: 560px;
  height: 653px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  background-color: rgba(155, 140, 140, 0.84);
}
.algorithms-text10 {
  top: 38px;
  left: 26px;
  color: rgba(0, 0, 0, 1);
  width: 508px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Calisto MT;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
